body{
  font-family: "Open Sans", sans-serif;
}
.section1 {
  color: white;
  text-align: center;
  padding: 15%;
  background-image: url("city.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover; 
}
